.col-sm-6 offset-sm-3 {
    text-align: center;
    position: relative;
    font-family: sans-serif;
    color: #fff;
    border-radius: 20px;
    margin-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
    width: 100vw;
    min-height: 80vh;
    position: fixed;
    z-index: 1;

    
  }

.card {
    padding: 80px 5px 0 5px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -180px;
    margin-right: -100px;
    background: rgb(97, 178, 244);
    align-items: center;
    align-content: center;
    width: fit-content;
    color: #fff;
    border-radius: 40px;
}
.card h1{
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.input{
    position: relative;
    justify-items: left;
    padding: 3px 1px 0 1px;
    margin-bottom: 1rem;
}
.input input{

    padding: 5px 1px 0 1px;
    margin-bottom: 1rem;
}
.input textarea{
    padding: 3px 1px 0 1px;
    margin-bottom: 0.5rem;
}

.btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: navy;
    white-space: nowrap;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 0.1rem;
    cursor: pointer;
    background-color: rgb(165, 204, 228);
    margin-bottom: 2rem;
}

.btn:hover {
    background-color: rgb(87, 177, 188);
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 477px){

    .col-sm-6 offset-sm-3 {
        text-align: center;
        position: relative;
        font-family: sans-serif;
        color: #fff;
        border-radius: 20px;
        margin-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        width: 30vw;
        min-height: 100vh;
        position: fixed;
        z-index: 1;
    
        
      }
      .card {
        /* padding: 80px 5px 0 5px; */
        position: relative;
        left: 50%;
        right: -30%;
        /* margin-left: -180px;
        margin-right: -100px; */
        background: rgb(97, 178, 244);
        align-items: center;
        align-content: center;
        width: fit-content;
        color: #fff;
        border-radius: 30px;
    }
    
}